- breadcrumb_title "Repository"
- @no_container = true

- page_title @blob.path, @ref

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'blob'

= render 'projects/last_push'

%div{ class: container_class }
  #tree-holder.tree-holder
    = render 'blob', blob: @blob

    - if can_modify_blob?(@blob)
      = render 'projects/blob/remove'

    - title = "Replace #{@blob.name}"
    = render 'projects/blob/upload', title: title, placeholder: title, button_title: '替换文件', form_path: project_update_blob_path(@project, @id), method: :put
