- label_css_id = dom_id(label)
- status = label_subscription_status(label, @project).inquiry if current_user
- subject = local_assigns[:subject]
- toggle_subscription_path = toggle_subscription_label_path(label, @project) if current_user
- show_label_merge_requests_link = show_label_issuables_link?(label, :merge_requests, project: @project)
- show_label_issues_link = show_label_issuables_link?(label, :issues, project: @project)

%li{ id: label_css_id, data: { id: label.id } }
  = render "shared/label_row", label: label

  .visible-xs.visible-sm-inline-block.visible-md-inline-block.dropdown
    %button.btn.btn-default.label-options-toggle{ type: 'button', data: { toggle: "dropdown" } }
      选项
      = icon('caret-down')
    .dropdown-menu.dropdown-menu-align-right
      %ul
        - if show_label_merge_requests_link
          %li
            = link_to_label(label, subject: subject, type: :merge_request) do
              查看合并请求
        - if show_label_issues_link
          %li
            = link_to_label(label, subject: subject) do
              查看未关闭问题
        - if current_user
          %li.label-subscription
            - if can_subscribe_to_label_in_different_levels?(label)
              %a.js-unsubscribe-button.label-subscribe-button{ role: 'button', href: '#', class: ('hidden' if status.unsubscribed?), data: { url: toggle_subscription_path } }
                %span 取消订阅
              %a.js-subscribe-button.label-subscribe-button{ role: 'button', href: '#', class: ('hidden' unless status.unsubscribed?), data: { url: toggle_subscription_project_label_path(@project, label) } }
                %span 在项目层面订阅
              %a.js-subscribe-button.label-subscribe-button{ role: 'button', href: '#', class: ('hidden' unless status.unsubscribed?), data: { url: toggle_subscription_group_label_path(label.group, label) } }
                %span 在群组层面订阅
            - else
              %a.js-subscribe-button.label-subscribe-button{ role: 'button', href: '#', data: { status: status, url: toggle_subscription_path } }
                %span= label_subscription_toggle_button_text(label, @project)

        - if can?(current_user, :admin_label, label)
          %li
            = link_to '编辑', edit_label_path(label)
          %li
            = link_to '删除',
              destroy_label_path(label),
              title: '删除',
              method: :delete,
              data: {confirm: '确定要删除此标记？'},
              class: 'text-danger'

  .pull-right.hidden-xs.hidden-sm.hidden-md
    - if show_label_merge_requests_link
      = link_to_label(label, subject: subject, type: :merge_request, css_class: 'btn btn-transparent btn-action btn-link') do
        查看合并请求
    - if show_label_issues_link
      = link_to_label(label, subject: subject, css_class: 'btn btn-transparent btn-action btn-link') do
        查看未关闭问题

    - if current_user
      .label-subscription.inline
        - if can_subscribe_to_label_in_different_levels?(label)
          %button.js-unsubscribe-button.label-subscribe-button.btn.btn-default{ type: 'button', class: ('hidden' if status.unsubscribed?), data: { url: toggle_subscription_path } }
            %span 取消订阅
            = icon('spinner spin', class: 'label-subscribe-button-loading')

          .dropdown.dropdown-group-label{ class: ('hidden' unless status.unsubscribed?) }
            %button.dropdown-menu-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
              %span 订阅
              = icon('chevron-down')
            %ul.dropdown-menu
              %li
                %a.js-subscribe-button{ class: ('hidden' unless status.unsubscribed?), data: { url: toggle_subscription_project_label_path(@project, label) } }
                  项目层面
                %a.js-subscribe-button{ class: ('hidden' unless status.unsubscribed?), data: { url: toggle_subscription_group_label_path(label.group, label) } }
                  群组层面
        - else
          %button.js-subscribe-button.label-subscribe-button.btn.btn-default{ type: 'button', data: { status: status, url: toggle_subscription_path } }
            %span= label_subscription_toggle_button_text(label, @project)
            = icon('spinner spin', class: 'label-subscribe-button-loading')

    - if label.is_a?(ProjectLabel) && label.project.group && can?(current_user, :admin_label, label.project.group)
      = link_to promote_project_label_path(label.project, label), title: "提升到群组标记", class: 'btn btn-transparent btn-action', data: {confirm: "提升此标签将使此标签可用到此组内的所有项目。并将合并具有相同名称的现有项目标签。是否确定？", toggle: "tooltip"}, method: :post do
        %span.sr-only 提升到群组
        = icon('level-up')
    - if can?(current_user, :admin_label, label)
      = link_to edit_label_path(label), title: "编辑", class: 'btn btn-transparent btn-action', data: {toggle: "tooltip"} do
        %span.sr-only 编辑
        = icon('pencil-square-o')
      = link_to destroy_label_path(label), title: "删除", class: 'btn btn-transparent btn-action remove-row', method: :delete, data: {confirm: label_deletion_confirm_text(label), toggle: "tooltip"} do
        %span.sr-only 删除
        = icon('trash-o')
